/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eager Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                        = null

    // Input BAM conversion
    convert_inputbam           = false

    // References
    genome                       = null
    igenomes_base                = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore              = false

    // MultiQC options
    multiqc_config               = null
    multiqc_title                = null
    multiqc_logo                 = null
    max_multiqc_email_size       = '25.MB'
    multiqc_methods_description  = null

    // Main references
    fasta                                 = null
    fasta_fai                             = null
    fasta_dict                            = null
    fasta_mapperindexdir                  = null
    fasta_circular_target                 = null
    fasta_largeref                        = false
    fasta_sheet                           = null
    fasta_circularmapper_elongationfactor = 500
    fasta_circularmapper_elongatedfasta   = null
    fasta_circularmapper_elongatedindex   = null

    // Shard Fastq options
    run_fastq_sharding                = false
    fastq_shard_size                  = 1000000

    // bedtools options
    run_bedtools_coverage         = false
    mapstats_bedtools_featurefile = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    // Config options
    config_profile_name          = null
    config_profile_description   = null

    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null

    // Schema validation default options
    validate_params              = true

    // References
    save_reference = false

    // Sequencing QC
    sequencing_qc_tool = 'fastqc'

    // Preprocessing
    // TODO Add validation checks for tool specific params
    skip_preprocessing                               = false
    preprocessing_tool                               = 'fastp'
    preprocessing_skippairmerging                    = false
    preprocessing_excludeunmerged                    = false
    preprocessing_skipadaptertrim                    = false
    preprocessing_adapter1                           = null
    preprocessing_adapter2                           = null
    preprocessing_adapterlist                        = null
    preprocessing_minlength                          = 25
    preprocessing_savepreprocessedreads              = false
    preprocessing_trim5p                             = 0      // WARN: slightly different behaviour between fastp & adapterremoval
    preprocessing_trim3p                             = 0      // WARN: slightly different behaviour between fastp & adapterremoval
    preprocessing_fastp_complexityfilter             = false
    preprocessing_fastp_complexityfilter_threshold   = 10
    preprocessing_adapterremoval_preserve5p          = false
    preprocessing_adapterremoval_adapteroverlap      = 1
    preprocessing_adapterremoval_skipqualitytrimming = false
    preprocessing_adapterremoval_trimbasequalitymin  = 20
    preprocessing_adapterremoval_skipntrimming       = false
    preprocessing_adapterremoval_qualitymax          = 41

    // Mapping
    mapping_tool                          = 'bwaaln'
    mapping_bwaaln_n                      = 0.01 // From Oliva et al. 2021 (10.1093/bib/bbab076)
    mapping_bwaaln_k                      = 2
    mapping_bwaaln_l                      = 1024 // From Oliva et al. 2021 (10.1093/bib/bbab076)
    mapping_bwaaln_o                      = 2 // From Oliva et al. 2021 (10.1093/bib/bbab076)
    mapping_bwamem_k                      = 19
    mapping_bwamem_r                      = 1.5
    mapping_bowtie2_alignmode             = 'local'
    mapping_bowtie2_sensitivity           = 'sensitive'
    mapping_bowtie2_n                     = 0
    mapping_bowtie2_l                     = 20
    mapping_bowtie2_trim5                 = 0
    mapping_bowtie2_trim3                 = 0
    mapping_bowtie2_maxins                = 500
    mapping_circularmapper_circularfilter = false

    // BAM Filtering
    run_bamfiltering                      = false
    bamfiltering_minreadlength            = 0
    bamfiltering_mappingquality           = 0
    bamfilter_genomicbamfilterflag        = 4
    bamfiltering_retainunmappedgenomicbam = false // downstream genomics only
    bamfiltering_generateunmappedfastq    = false
    bamfiltering_generatemappedfastq      = false
    bamfiltering_savefilteredbams         = false // can include unmapped reads if --bamfiltering_retainunmappedgenomicbam specified

    // Metagenomic Screening
    run_metagenomics                             = false
    metagenomics_input                           = 'unmapped' // mapped, all, unmapped -> mapped vs all specified in SAMTOOLS_FASTQ_MAPPED in modules.conf, unmapped hardcoded SAMTOOLS_FASTQ_UNMAPPED
    run_metagenomics_complexityfiltering         = false
    metagenomics_complexity_tool                 = 'bbduk'
    metagenomics_complexity_savefastq            = false
    metagenomics_complexity_entropy              = 0.3
    metagenomics_prinseq_mode                    = 'entropy' // entropy or dust
    metagenomics_prinseq_dustscore               = 0.5
    metagenomics_profiling_tool                  = null
    metagenomics_profiling_database              = null
    metagenomics_krakenuniq_ramchunksize         = "16G"
    metagenomics_kraken2_savereads               = false
    metagenomics_kraken2_savereadclassifications = false
    metagenomics_kraken2_saveminimizers          = false
    metagenomics_malt_mode                       = 'BlastN'
    metagenomics_malt_alignmentmode              = 'SemiGlobal'
    metagenomics_malt_savereads                  = false
    metagenomics_malt_minsupportmode             = 'percent'
    metagenomics_malt_minsupportpercent          = 0.01
    metagenomics_malt_minsupportreads            = 1
    metagenomics_malt_minpercentidentity         = 85
    metagenomics_malt_toppercent                 = 1
    metagenomics_malt_maxqueries                 = 100
    metagenomics_malt_memorymode                 = 'load'
    metagenomics_malt_group_size                 = 0
    metagenomics_run_postprocessing              = false
    metagenomics_maltextract_taxonlist           = null
    metagenomics_maltextract_ncbidir             = null
    metagenomics_maltextract_filter              = 'def_anc'
    metagenomics_maltextract_toppercent          = 0.01
    metagenomics_maltextract_destackingoff       = false
    metagenomics_maltextract_downsamplingoff     = false
    metagenomics_maltextract_duplicateremovaloff = false
    metagenomics_maltextract_matches             = false
    metagenomics_maltextract_megansummary        = false
    metagenomics_maltextract_minpercentidentity  = 85.0
    metagenomics_maltextract_usetopalignment     = false

    // Host Removal
    run_host_removal = false
    host_removal_mode = 'remove' // remove, replace

    // Deduplication options
    skip_deduplication = false
    deduplication_tool = 'markduplicates'

    // Qualimap
    skip_qualimap = false
    snpcapture_bed = null

    // Contamination estimation
    run_contamination_estimation_angsd        = false
    contamination_estimation_angsd_chrom_name = 'X'
    contamination_estimation_angsd_range_from = 5000000
    contamination_estimation_angsd_range_to   = 154900000
    contamination_estimation_angsd_mapq       = 30
    contamination_estimation_angsd_minq       = 30
    contamination_estimation_angsd_hapmap     = "${projectDir}/assets/angsd_resources/HapMapChrX.gz"

    // MtNucRatio
    run_mtnucratio = false
    mitochondrion_header = 'MT'

    // Mapping statistics options
    // Preseq
    mapstats_skip_preseq         = false
    mapstats_preseq_stepsize     = 1000
    mapstats_preseq_mode         = 'c_curve'
    mapstats_preseq_maxextrap    = 10000000000
    mapstats_preseq_terms        = 100
    mapstats_preseq_bootstrap    = 100
    mapstats_preseq_cval         = 0.95
    mapstats_preseq_defects_mode = false

    // Damage Calculation options
    skip_damagecalculation                     = false
    damagecalculation_tool                     = 'damageprofiler'
    damagecalculation_yaxis                    = 0.3
    damagecalculation_xaxis                    = 25
    damagecalculation_damageprofiler_length    = 100
    damagecalculation_mapdamage_downsample     = 0

    // Damage Manipulation options
    run_mapdamage_rescaling                                          = false
    damage_manipulation_rescale_seqlength                            = 12
    damage_manipulation_rescale_length_5p                            = 0
    damage_manipulation_rescale_length_3p                            = 0
    run_pmd_filtering                                                = false
    damage_manipulation_pmdtools_threshold                           = 3
    damage_manipulation_pmdtools_masked_reference                    = null
    damage_manipulation_pmdtools_reference_mask                      = null
    run_trim_bam                                                     = false
    damage_manipulation_bamutils_trim_double_stranded_none_udg_left  = 0
    damage_manipulation_bamutils_trim_double_stranded_none_udg_right = 0
    damage_manipulation_bamutils_trim_double_stranded_half_udg_left  = 0
    damage_manipulation_bamutils_trim_double_stranded_half_udg_right = 0
    damage_manipulation_bamutils_trim_single_stranded_none_udg_left  = 0
    damage_manipulation_bamutils_trim_single_stranded_none_udg_right = 0
    damage_manipulation_bamutils_trim_single_stranded_half_udg_left  = 0
    damage_manipulation_bamutils_trim_single_stranded_half_udg_right = 0
    damage_manipulation_bamutils_softclip                            = false

    // Sex determination
    run_sexdeterrmine                                                = false
    sexdeterrmine_bedfile                                            = null

    // Genotyping
    run_genotyping                           = false
    genotyping_tool                          = null
    genotyping_source                        = null
    skip_bcftools_stats                      = false
    genotyping_reference_ploidy              = 2
    genotyping_pileupcaller_min_base_quality = 30
    genotyping_pileupcaller_min_map_quality  = 30
    genotyping_pileupcaller_bedfile          = null
    genotyping_pileupcaller_snpfile          = null
    genotyping_pileupcaller_method           = 'randomHaploid'
    genotyping_pileupcaller_transitions_mode = 'AllSites'
    genotyping_gatk_call_conf                = 30
    genotyping_gatk_dbsnp                    = null
    genotyping_gatk_ug_downsample            = 250
    genotyping_gatk_ug_out_mode              = 'EMIT_VARIANTS_ONLY'
    genotyping_gatk_ug_genotype_mode         = 'SNP'
    genotyping_gatk_ug_defaultbasequalities  = -1
    genotyping_gatk_ug_keeprealignbam        = false
    genotyping_gatk_hc_out_mode              = 'EMIT_VARIANTS_ONLY'
    genotyping_gatk_hc_emitrefconf           = 'GVCF'
    genotyping_freebayes_min_alternate_count = 1
    genotyping_freebayes_skip_coverage       = 0
    genotyping_angsd_glmodel                 = 'samtools'
    genotyping_angsd_glformat                = 'binary'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Additional configs for subworkflows
includeConfig 'subworkflows/nf-core/bam_split_by_region/nextflow.config'
includeConfig 'subworkflows/nf-core/bam_docounts_contamination_angsd/nextflow.config'
includeConfig 'subworkflows/nf-core/fastq_align_bwaaln/nextflow.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name   = 'local'
        executor.cpus   = 4
        executor.memory = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus: 4,
                time: 1.h
            ]
        }
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
    }
    test             { includeConfig 'conf/test.config'             }
    test_full        { includeConfig 'conf/test_full.config'        }
    test_nothing     { includeConfig 'conf/test_nothing.config'     }
    test_humanbam    { includeConfig 'conf/test_humanbam.config'    }
    test_multiref    { includeConfig 'conf/test_multiref.config'    }
    test_kraken2     { includeConfig 'conf/test_kraken2.config'     }
    test_malt        { includeConfig 'conf/test_malt.config'        }
    test_krakenuniq  { includeConfig 'conf/test_krakenuniq.config'  }
    test_metaphlan   { includeConfig 'conf/test_metaphlan.config'   }
    test_modern      { includeConfig 'conf/test_modern.config'      }
    test_microbial   { includeConfig 'conf/test_microbial.config'   }
    test_shortdna    { includeConfig 'conf/test_shortdna.config'    }
    test_humanpopgen { includeConfig 'conf/test_humanpopgen.config' }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/eager custom profiles from different institutions.
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/eager.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/eager'
    author          = """The nf-core/eager community"""
    // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Alexander Peltzer',
            affiliation: 'Quantitative Biology Center, Eberhard-Karls University Tübingen, Tübingen, Germany',
            email: '',
            github: 'apeltzer',
            contribution: ['author'],
            orcid: '0000-0002-6503-2180'
        ],
        [
            name: 'James A. Fellows Yates',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'jfy133',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-5585-6277'
        ],
        [
            name: 'Thiseas C. Lamnidis',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'TCLamnidis',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0003-4485-8570'
        ],
        [
            name: 'Maxime Borry',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'maxibor',
            contribution: ['contributor'],
            orcid: '0000-0001-9140-7559'
        ],
        [
            name: 'Zandra Fagernäs',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'ZandraFagernas',
            contribution: ['contributor'],
            orcid: '0000-0003-2667-3556'
        ],
        [
            name: 'Aida Andrades Valtueña',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'aidaanva',
            contribution: ['contributor'],
            orcid: '0000-0002-1737-2228'
        ],
        [
            name: 'Maxime U. Garcia',
            affiliation: 'National Genomics Infrastructure, Science for Life Laboratory, Stockholm, Sweden',
            email: '',
            github: 'maxulysse',
            contribution: ['contributor'],
            orcid: '0000-0003-2827-9261'
        ],
        [
            name: 'Stephen Clayton',
            affiliation: 'Max Planck Institute for the Science of Human History, Jena, Germany',
            email: '',
            github: 'sc13-bioinf',
            contribution: ['contributor'],
            orcid: '0000-0001-5223-9695'
        ],
        [
            name: 'Judith Neukamm',
            affiliation: 'Institute of Evolutionary Medicine, University of Zurich, Zurich, Switzerland',
            email: '',
            github: ' JudithNeukamm',
            contribution: ['contributor'],
            orcid: '0000-0001-8141-566X '
        ],
        [
            name: 'Selina Carlhoff',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'scarlhoff',
            contribution: ['contributor'],
            orcid: '0000-0001-9118-2839'
        ],
        [
            name: 'Merlin Szymanski',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'merszym',
            contribution: ['contributor'],
            orcid: '0000-0001-8501-2497'
        ],
        [
            name: 'Ian Light-Maka',
            affiliation: 'Max Planck Institute for Infection Biology, Berlin, Germany',
            email: '',
            github: 'ilight1542',
            contribution: ['contributor'],
            orcid: '0000-0001-6720-3732'
        ],
        [
            name: 'Shyamsundar Ravishankar',
            affiliation: 'Australian Centre for Ancient DNA, University of Adelaide',
            email: '',
            github: 'shyama-mama',
            contribution: ['contributor'],
            orcid: '0000-0003-3006-6134'
        ],
        [
            name: 'Judith Ballesteros Villascán',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'jbv2',
            contribution: ['contributor'],
            orcid: '0000-0001-8501-1363'
        ],
        [
            name: 'J. Christian Heide',
            affiliation: 'Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'jch-13',
            contribution: ['contributor'],
            orcid: '0000-0001-8637-9039'
        ],
        [
            name: 'nf-core/community',
            affiliation: '',
            email: 'core@nf-co.re',
            github: 'https://github/nf-core',
            contribution: ['contributor'],
            orcid: ''
        ]
    ]
    homePage        = 'https://github.com/nf-core/eager'
    description     = """A fully reproducible and state-of-the-art ancient DNA analysis pipeline"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '3.0.0dev'
    doi             = '10.7717/peerj.10947'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
    help {
        enabled             = true
        command             = "nextflow run nf-core/eager -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter       = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText          = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/eager ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText           = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/', '')}" }.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/eager/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText  = validation.help.afterText
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
