/*
 * -------------------------------------------------
 *  nf-core/eager Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */
// Global default params, used in configs
params {
  //Pipeline options
    //Input reads
  singleEnd = false
  pairedEnd = false
  reads = "data/*{1,2}.fastq.gz"
  readPaths = false
  bam = false
  
  //Input reference
  fasta = ''
  large_ref = false
  saveReference = false
  saveTrimmed = true
  saveAlignedIntermediates = false
  genome = false
  fasta_index = ''
  bwa_index = false

  //Auxillary input data info and files
  snpcapture = false
  bedfile = ''
  seq_dict = ''

  //Output
  outdir = './results'
  
  //Skipping parts of the pipeline for impatient users
  skip_fastqc = false 
  skip_mapping = false
  skip_preseq = false
  skip_damage_calculation = false
  skip_qualimap = false
  skip_deduplication = false

  //If you want to convert a BAM input to FASTQ format for adapterememoval etc.
  run_convertbam = false

  //Skipping adapterremoval, trimming or collapsing defaults
  skip_adapterremoval = false
  skip_trim = false
  skip_adapterremoval = false

  //More defaults
  complexity_filter_poly_g = false
  complexity_filter_poly_g_min = 10
  trim_bam = false

  //Read clipping and merging parameters
  clip_forward_adaptor = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
  clip_reverse_adaptor = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTA"
  clip_readlength = 30
  clip_min_read_quality = 20
  min_adap_overlap = 1
  skip_collapse = false
  preserve5p = false
  mergedonly = false

  //Mapping algorithm
  mapper = 'bwaaln'
  bwaalnn = 0.03
  bwaalnk = 2
  bwaalnl = 32
  circularextension = 500
  circulartarget = 'MT'
  circularfilter = false

  //BAM Filtering steps (default = keep mapped and unmapped in BAM file)
  run_bam_filtering = false
  bam_discard_unmapped = false
  bam_unmapped_type = ''
  bam_mapping_quality_threshold = 0

  //DamageProfiler settings
  damageprofiler_length = 100
  damageprofiler_threshold = 15

  //DeDuplication settings
  dedupper = 'dedup' //default value dedup
  dedup_all_merged = false

  //Preseq settings
  preseq_step_size = 1000

  //Bedtools settings
  run_bedtools_coverage = false 
  anno_file = ''

  //PMDTools settings
  run_pmdtools = false
  pmd_udg_type = 'half'
  pmdtools_range = 10
  pmdtools_threshold = 3
  pmdtools_reference_mask = ''
  pmdtools_max_reads = 10000

  //bamUtils trimbam settings
  run_trim_bam = false 
  bamutils_clip_left = 1 
  bamutils_clip_right = 1 
  bamutils_softclip = false 

  //Mapped read stripping from input FASTQ
  strip_input_fastq = false
  strip_mode = 'strip'

  //Genotyping options
  run_genotyping = false
  genotyping_tool = ''
  genotyping_source = "raw"
  gatk_ug_genotype_model = 'SNP'
  gatk_hc_emitrefconf = 'GVCF'
  gatk_call_conf = '30'
  gatk_ploidy = '2'
  gatk_downsample = '250'
  gatk_ug_out_mode = 'EMIT_VARIANTS_ONLY'
  gatk_hc_out_mode = 'EMIT_VARIANTS_ONLY'
  gatk_dbsnp = ''
  gatk_ug_defaultbasequalities = ''
  freebayes_C = 1
  freebayes_g = 0
  freebayes_p = 2

  //Consensus sequence generation
  run_vcf2genome = false
  vcf2genome_outfile = ''
  vcf2genome_header = ''
  vcf2genome_minc = 5
  vcf2genome_minq = 30
  vcf2genome_minfreq = 0.8

  //MultiVCFAnalyzer Options
  run_multivcfanalyzer = false
  write_allele_frequencies = false
  min_genotype_quality = 30
  min_base_coverage = 5
  min_allele_freq_hom = 0.9
  min_allele_freq_het = 0.9
  additional_vcf_files = ''
  reference_gff_annotations = 'NA'
  reference_gff_exclude = 'NA'
  snp_eff_results = 'NA'

  //mtnucratio
  run_mtnucratio = false
  mtnucratio_header = 'MT'

  //Sex.DetERRmine settings
  run_sexdeterrmine = false
  sexdeterrmine_bedfile = ''

  //Nuclear contamination based on chromosome X heterozygosity.
  run_nuclear_contamination = false
  contamination_chrom_name = 'X' // Default to using hs37d5 name

  // taxonomic classifer
  run_metagenomic_screening  = false
  metagenomic_tool = 'malt'
  database  = ''
  percent_identity = 85
  malt_mode = 'BlastN'
  malt_alignment_mode = 'SemiGlobal'
  malt_top_percent = 1
  malt_min_support_mode = 'percent'
  malt_min_support_percent = 0.01
  malt_min_support_reads = 1
  malt_max_queries = 100
  malt_memory_mode = 'load'
  malt_weighted_lca = false

  // maltextract - only including number 
  // parameters if default documented or duplicate of MALT
  run_maltextract = false
  maltextract_taxon_list = ''
  maltextract_ncbifiles = ''
  maltextract_filter = "def_anc"
  maltextract_toppercent = 0.01
  maltextract_destackingoff = false
  maltextract_downsamplingoff = false
  maltextract_duplicateremovaloff = false
  maltextract_matches = false
  maltextract_megansummary = false
  maltextract_percentidentity = 85.0
  maltextract_topalignment =  false
  maltextract_singlestranded = false

  // Boilerplate options
  name = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
  email = false
  maxMultiqcEmailFileSize = 25.MB
  plaintext_email = false
  monochrome_logs = false
  help = false
  igenomes_base = "./iGenomes"
  tracedir = "${params.outdir}/pipeline_info"
  awsqueue = false
  awsregion = 'eu-west-1'
  igenomesIgnore = false
  custom_config_version = 'master'
  custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  hostnames = false
  config_profile_description = false
  config_profile_contact = false
  config_profile_url = false
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'nfcore/eager:dev'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load nf-core/eager custom profiles from different Institutions
try {
  includeConfig "${params.custom_config_base}/pipeline/eager.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config/eager profiles: ${params.custom_config_base}/pipeline/eager.config")
}


profiles {
  awsbatch { includeConfig 'conf/awsbatch.config'}
  conda { process.conda = "$baseDir/environment.yml"}
  debug { process.beforeScript = 'echo $HOSTNAME'}
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
  }
  test { includeConfig 'conf/test.config'}
  test_bam { includeConfig 'conf/test_bam.config'}
  test_fna { includeConfig 'conf/test_fna.config'}
  test_humanbam { includeConfig 'conf/test_humanbam.config' }
  test_pretrim { includeConfig 'conf/test_pretrim.config' }
}
// Load igenomes.config if required
if(!params.igenomesIgnore){
  includeConfig 'conf/igenomes.config'
}
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'nf-core/eager'
  author = 'Alexander Peltzer, Stephen Clayton, James A. Fellows Yates, Maxime Borry, Thiseas C. Lamnidis, Zandra Fagernäs'
  homePage = 'https://github.com/nf-core/eager'
  version = '2.1.0dev'
  description = 'A fully reproducible ancient and modern DNA pipeline in Nextflow and with cloud support.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}
// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
