params {
	//input from command lines
	fasta_info = null
	reads = null
	fasta_index = null
	threads = 1
	label = null

	// output directory structure
	results = "results/"
	contigs = params.results + "contigs/"
	mapping = params.results + "mapping/"
	plot = params.results + "plot/"

	
}

manifest {
    name        = "competitive mapping"
    description = "mapped to the fasta which are indexed together in bowtie2"
    author      = "Chenyu.Jin"
    mainScript  = "com.nf"
    version     = "1"
}

profiles {

        conda {
                process.conda = '/path/to/container/env.yml'
        }

}
