/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on Phoenix Cluster Adelaide
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
    envWhitelist='SINGULARITY_BINDPATH'
    autoMounts = true
}

process {
    beforeScript = 'module load Singularity/2.5.2-GCC-5.4.0-2.26'
    executor = 'slurm'
}

params {
  max_memory = 128.GB
  max_cpus = 32
  max_time = 48.h
}
