/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run nf-core/eager -profile test, docker (or singularity, or conda)
 */

params {
  config_profile_name = 'AWS Megatest Pathogen Screening profile'
  config_profile_description = "An AWS 'megatest' for testing complex sequencing aDNA data for human genome mapping and pathogen screening" 
  name = "nf-core_eager_awsmegatest_pathogenscreening"

  //Input data
  input = ''
  // Genome references
  fasta = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/bigZips/hg19.fa.gz'

  complexity_filter_poly_g = true
  bwaalnn = 0.01
  bwaalnl = 16
  run_bam_filtering = true
  bam_mapping_quality_threshold = 37
  bam_discard_unmapped = true
  bam_unmapped_type = 'fastq'
  dedupper = 'markduplicates'
  run_trim_bam = true
  run_mtnucratio = true
  run_sexdeterrmine = true
  run_nuclear_contamination = true
  run_metagenomic_screening = true
  metagenomic_tool = 'malt'
  
  // TODO
  database = ''

  // TODO
  maltextract_taxon_list = ''

  // TODO
  maltextract_ncbifiles = ''

}