/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run nf-core/eager -profile test, docker (or singularity, or conda)
 */

params {
  config_profile_name = 'AWS Megatest Pathogen Screening profile'
  config_profile_description = "An AWS 'megatest' for testing complex sequencing aDNA data for human genome mapping and pathogen screening" 
  name = "nf-core_eager_awsmegatest_pathogenscreening"

  //Input data
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/eager/testdata/AWS/awsmegatests_pathogenscreening.tsv'
  // Genome references
  fasta = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg19/bigZips/hg19.fa.gz'

  complexity_filter_poly_g = true
  bwaalnn = 0.01
  bwaalnl = 10000
  run_bam_filtering = true
  bam_discard_unmapped = true
  bam_unmapped_type = 'fastq'
  dedupper = 'markduplicates'
  run_mtnucratio = true
  run_sexdeterrmine = true
  run_nuclear_contamination = true
  sexdeterrmine_bedfile = 'https://github.com/nf-core/test-datasets/raw/eager/reference/Human/1240K.pos.list_hs37d5.0based.bed.gz'
  run_nuclear_contamination = true
  run_metagenomic_screening = true
  metagenomic_tool = 'malt'
  run_maltextract = true
  percent_identity = 90
  malt_top_percent = 1
  malt_min_support_mode = 'reads'
  metagenomic_min_support_reads = 1
  malt_max_queries = 100
  malt_memory_mode = 'load'
  maltextract_taxon_list = 'https://raw.githubusercontent.com/rhuebler/HOPS/external/Resources/default_list.txt'
  maltextract_filter = 'def_anc'
  maltextract_toppercent = 0.01
  maltextract_destackingoff = false
  maltextract_downsamplingoff = false
  maltextract_duplicateremovaloff = false
  maltextract_matches = false
  maltextract_megansummary = true
  maltextract_percentidentity = 90.0
  maltextract_topalignment =  false

}
