/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity at SHH Clusters
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
    cacheDir = "/projects1/users/$USER/nextflow/nf_cache/singularity/"
}

/*
* To be improved by process specific resource requests
* By default, take the medium queue, smaller processes might just go to short (e.g. multiqc or similar things)
*/

process {
    executor = 'slurm'
    queue = 'medium'

    
    withName:makeFastaIndex {
        queue = 'short'
        time = 2.h
    }
    withName:makeSeqDict {
        queue = 'short'
        time = 2.h
    }
}


params {
  max_memory = 734.GB
  max_cpus = 64
  max_time = 48.h
}
