/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_default,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

// TO DO: Change name to test.config once migration is complete.
params {
    config_profile_name             = 'Test profile'
    config_profile_description      = 'Minimal test dataset to check pipeline function'

    // Input data
    input                           = params.pipelines_testdata_base_path + 'eager/testdata/Mammoth/samplesheet_v3.tsv'

    // Genome references
    fasta                           = params.pipelines_testdata_base_path + 'eager/reference/Mammoth/Mammoth_MT_Krause.fasta'

    // Preprocessing
    preprocessing_tool              = 'adapterremoval'

    // Sharding FASTQ
    run_fastq_sharding              = true
    fastq_shard_size                = 5000

    // Mapping
    mapping_tool                    = 'bwaaln'
    skip_qualimap                   = false

    // BAM filtering
    run_bamfiltering                = true
    bamfiltering_minreadlength      = 30
    bamfiltering_mappingquality     = 37
    deduplication_tool              = 'markduplicates'

    // PreSeq
    mapstats_preseq_mode            = 'c_curve'

    // Damage calculation
    damagecalculation_tool          = 'damageprofiler'

    // Genotyping
    genotyping_tool                 = 'ug'

    // Metagenomic screening
    run_metagenomics                = true
    metagenomics_profiling_tool     = 'metaphlan'
    metagenomics_profiling_database = params.pipelines_testdata_base_path + 'eager/databases/metaphlan/metaphlan4_database.tar.gz'
    metagenomics_run_postprocessing = true
}
