/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_humanpopgen,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name                = 'Test human popgen profile'
    config_profile_description         = 'Minimal test dataset to check pipeline function'

    // Input data
    input                              = params.pipelines_testdata_base_path + 'eager/testdata/Human/human_design_bam_eager3.tsv'

    // Genome references
    fasta                              = params.pipelines_testdata_base_path + 'eager/reference/Human/hs37d5_chr21-MT.fa.gz'

    // Mapping
    mapping_tool                       = 'bowtie2'
    convert_inputbam                    = true

    // BAM filtering
    run_bamfiltering                   = true
    bamfiltering_minreadlength         = 30
    bamfiltering_mappingquality        = 37

    // Damage
    damagecalculation_tool             = 'mapdamage'
    run_trim_bam                       = true

    // Contamination
    run_mtnucratio                     = true
    run_contamination_estimation_angsd = true

    // Genotyping
    genotyping_tool                    = 'pileupcaller'
    genotyping_pileupcaller_bedfile    = params.pipelines_testdata_base_path + 'eager/reference/Human/1240K.pos.list_hs37d5.0based.bed.gz'
    genotyping_pileupcaller_snpfile    = params.pipelines_testdata_base_path + 'eager/reference/Human/1240K_covered_in_JK2067_downsampled_s0.1.numeric_chromosomes.snp'

    //Sex Determination
    run_sexdeterrmine                  = true
    sexdeterrmine_bedfile              = params.pipelines_testdata_base_path + 'eager/reference/Human/1240K.pos.list_hs37d5.0based.bed.gz'

}
