/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_microbial,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name             = 'Test microbial profile'
    config_profile_description      = 'Minimal test dataset to check pipeline function'

    // Input data
    input                           = params.pipelines_testdata_base_path + 'eager/testdata/Mammoth/samplesheet_PE_only_v3.tsv'

    // Genome references
    fasta_sheet                     = params.pipelines_testdata_base_path + 'eager/reference/reference_sheet_multiref.csv'


    // Preprocessing
    sequencing_qc_tool              = 'falco'
    preprocessing_excludeunmerged   = true

    // Mapping
    mapping_tool                    = 'circularmapper'

    // BAM filtering
    deduplication_tool              = "dedup"
    run_bamfiltering                = true
    bamfiltering_minreadlength      = 30
    bamfiltering_mappingquality     = 37

    // Metagenomics
    run_metagenomics                = true
    metagenomics_profiling_tool     = 'krakenuniq'
    metagenomics_profiling_database = params.pipelines_testdata_base_path + 'eager/databases/krakenuniq/testdb-krakenuniq.tar.gz'
    run_host_removal                = true

    // Manipulate Damage
    run_mapdamage_rescaling         = true

    // Genotyping
    genotyping_tool                 = 'freebayes'


}
