/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_modern,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name             = 'Test modern profile'
    config_profile_description      = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                           = params.pipelines_testdata_base_path + 'eager/testdata/Human/human_design_bam_eager3.tsv'

    // Genome references
    fasta                           = params.pipelines_testdata_base_path + 'eager/reference/Human/hs37d5_chr21-MT.fa.gz'


    // Preprocessing
    sequencing_qc_tool              = 'falco'
    preprocessing_tool              = 'fastp'
    convert_inputbam                = true

    // Mapping
    mapping_tool                    = 'bwamem'

    // BAM filtering
    run_bamfiltering                = true
    bamfiltering_minreadlength      = 30
    bamfiltering_mappingquality     = 37

    // Metagenomics
    run_metagenomics                = true
    metagenomics_complexity_tool    = 'prinseq'
    metagenomics_profiling_tool     = 'kraken2'
    metagenomics_profiling_database = params.pipelines_testdata_base_path + 'eager/databases/kraken/eager_test.tar.gz'
    metagenomics_run_postprocessing = true

    // Genotyping
    genotyping_tool                 = 'hc'

}
