/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name           = 'Full test profile'
    config_profile_description    = 'Full test dataset to check pipeline function'
    pipelines_testdata_base_path  = 'https://raw.githubusercontent.com/TCLamnidis/test-datasets/'

    // Input data for full size test
    input                         = params.pipelines_testdata_base_path + 'eager/testdata/Benchmarking/eager3_benchmarking_vikingfish.tsv'

    // Genome references
    // Genome reference
    fasta                         = 'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_other/Gadus_morhua/reference/GCF_902167405.1_gadMor3.0/GCF_902167405.1_gadMor3.0_rna.fna.gz'

    bwaalnn                       = 0.04
    bwaalnl                       = 1024

    run_bam_filtering             = true
    bam_unmapped_type             = 'discard'
    bam_mapping_quality_threshold = 25

    run_genotyping                = true
    genotyping_tool               = 'hc'
    genotyping_source             = 'raw'
    gatk_ploidy                   = 2
}

process {
    withName: fastqc {
        cpus   = { check_max(1, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
    }
    withName: adapter_removal {
        cpus   = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time   = { check_max(2.h * task.attempt, 'time') }
    }
    withName: bwa {
        cpus   = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time   = { check_max(8.h * task.attempt, 'time') }
    }
    withName: dedup {
        cpus   = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time   = { check_max(4.h * task.attempt, 'time') }
    }
    withName: genotyping_hc {
        cpus   = { check_max(8, 'cpus') }
        memory = { check_max(16.GB * task.attempt, 'memory') }
        time   = { check_max(8.h * task.attempt, 'time') }
    }
}
