/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    
    withName: FASTQC {
        cpus   = { 1                    }
        memory = { 15.GB * task.attempt }
    }
    withName: ADAPTER_REMOVAL {
        cpus   = { 8                    }
        memory = { 15.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withName: PICARD_CREATESEQUENCEDICTIONARY {
        cpus   = { 12                   }
        memory = { 15.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withName: PICARD_MARKDUPLICATES {
        memory = { 15.GB                }
    }
    withName: BWA_ALN {
        cpus   = { 8                    }
        memory = { 15.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withName: DEDUP {
        cpus   = { 8                    }
        memory = { 15.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withName: GENOTYPING_HC {
        cpus   = { 8                    }
        memory = { 15.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
}

params {
    config_profile_name           = 'Full test profile'
    config_profile_description    = 'Full test dataset to check pipeline function'
    pipelines_testdata_base_path  = 'https://raw.githubusercontent.com/TCLamnidis/test-datasets/'

    // Input data for full size test
    input                         = params.pipelines_testdata_base_path + 'eager/testdata/Benchmarking/eager3_benchmarking_vikingfish.tsv'

    // Genome references
    // Genome reference
    fasta                         = 'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_other/Gadus_morhua/reference/GCF_902167405.1_gadMor3.0/GCF_902167405.1_gadMor3.0_rna.fna.gz'

    bwaalnn                       = 0.04
    bwaalnl                       = 1024

    run_bam_filtering             = true
    bam_unmapped_type             = 'discard'
    bam_mapping_quality_threshold = 25

    run_genotyping                = true
    genotyping_tool               = 'hc'
    genotyping_source             = 'raw'
    gatk_ploidy                   = 2
}
