/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/eager -profile test_shortdna,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name                = 'Test very short DNA profile'
    config_profile_description         = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'eager/testdata/Mammoth/samplesheet_v3.tsv'

    // Genome references
    fasta_sheet                        = params.pipelines_testdata_base_path + 'eager/reference/reference_sheet_multiref.csv'

    // Mapping
    // TO DO: Change when mapAD is there.
    // mapping_tool                    = 'mapad'

    // Metagenomics
    run_metagenomics                   = true
    metagenomics_complexity_tool       = 'bbduk'
    metagenomics_profiling_tool        = 'malt'
    metagenomics_profiling_database    = params.pipelines_testdata_base_path + '/eager/databases/malt/eager_test.tar.gz'
    metagenomics_run_postprocessing    = true
    metagenomics_maltextract_taxonlist = params.pipelines_testdata_base_path + '/eager/testdata/Mammoth/maltextract/MaltExtract_list.txt'
    metagenomics_maltextract_ncbidir   = 'https://github.com/rhuebler/HOPS/raw/external/Resources/'

    // Manioulate Damage
    run_pmd_filtering                  = true

    // Genotyping
    genotyping_tool                    = 'angsd'


}
